<h2>Nueva Reparación</h2>
<hr />
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Descripción Reparación</label>
        <textarea
          class="form-control"
          rows="3"
          formControlName="descripcion"
        ></textarea>
        <label
          class="text-danger fw-bold"
          *ngIf="
            getControl('descripcion')?.touched &&
            getControl('descripcion')?.errors
          "
          >La descripción es requerida</label
        >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Valor</label>
        <input type="number" class="form-control" formControlName="valor" />
        <label
          class="text-danger fw-bold"
          *ngIf="getControl('valor')?.touched && getControl('valor')?.errors"
          >El valor es requerido</label
        >
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-primary mx-3" [disabled]="formGroup.invalid">
      Crear Reparacion
    </button>
    <a routerLink="/dashboard/clientes" class="btn btn-danger">Cancelar</a>
  </div>
</form>
